.Loader {
  height: 30px;

  border: 4px solid #646262;
  background-color: #171917;
  border-radius: 25px;

  margin: 30px;

  overflow: hidden;
}

.Loader-Progress {  
  user-select: none;

  height: 100%;

  box-sizing: border-box;

  background-color: #3ba83b;

  line-height: 2.2;
  color: #ffffff;
}
