.StupidLoader {
  width: 350px;
  height: 20px;

  border: 2px solid #216d21;
  border-radius: 17px;

  margin: 50px 0 0 50px;

  position: relative;
  
  overflow: hidden;
}

.StupidLoader-Control {
  position: absolute;

  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  opacity: 0;
}

.StupidLoader-Inner {
  height: 100%;

  background: yellow;
}
